PORT=3000
API_KEY=tu-clave-api-aqui
NGROK_AUTHTOKEN=tu-token-ngrok
NGROK_DOMAIN=tu-dominio.ngrok-free.dev
EMULATOR_BAT_PATH=C:\Ruta\A\Tu\Script.bat
TARGET_ACCOUNT_EMAIL=usuario@ejemplo.com
TARGET_WEB_URL=https://ejemplo.com
